/* *********************** cabecera *************************** */
p {
    padding: 5px;
}
h3 {
    padding: 5px;
}
input, td, th {
    padding-left: 5px;
    padding-right: 5px;
}

#cabecera {
    color: white;
    height: 100px;
    width: 800px;
    margin: 0 auto;
}

.medio{
    margin: 0 auto;
}

#cabecera h1 {
    font-family: arial;
    padding-left: 20px;
    padding-top: 24px;
}

#cabecera a {
    float: right;
    padding-top: 24px;
    overflow: hidden;
    height: 0px;
}

#menu {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    height: 50px;
    background:yellowgreen;
}

/* *********************** cuerpo *************************** */

body {
    background-color: #202126;
    color: #F8F8F8;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    letter-spacing: 3px;
    background-size: cover;
}

h1{
    text-align: center;
}

h2{
    color: #66c83d;
}


.table{
    color: #F8F8F8;
}

/* *********************** pie *************************** */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.footer {
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../images/footer.jpg");
    background-size: cover;

}

.first {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206,206,206);
    font-family: 'Poppins', sans-serif;
}

.first h4 {
    font-size: 20px;
    letter-spacing: 3px;
    position: relative;
    margin-bottom: 20px;
    font-size: 1.6em;
    color: #fff;
    padding-bottom: 0.5em;
}

.first h4::after {
    content: '';
    background: #66c83d;
    width: 20%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.first p {
    font-size: 14px;
}

.second {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206,206,206);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.second2 {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206,206,206);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.second h4 {
    font-size: 20px;
    letter-spacing: 3px;
    position: relative;
    margin-bottom: 20px;
    font-size: 1.6em;
    color: #fff;
    padding-bottom: 0.5em;
}

.second h4::after {
    content: '';
    background: #66c83d;
    width: 20%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 40%;
}


.second li {
    list-style: none;
    padding-bottom: 30px;
}

.second a, .second2 a {
    color: rgb(206, 206, 206);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    transition: 0.2s;
}

.second a:hover, .second2 a:hover {
    color: #fff;
    transition: 0.2s;
    text-shadow: 1px 1px 20px rgba(0,0,0,1);
    text-decoration: none

}



.third {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206,206,206);
    font-family: 'Poppins', sans-serif;
    text-align: right;
}


.third h4 {
    font-size: 20px;
    letter-spacing: 3px;
    position: relative;
    margin-bottom: 20px;
    font-size: 1.6em;
    color: #fff;
    padding-bottom: 0.5em;
}


.third h4::after {
    content: '';
    background: #66c83d;
    width: 20%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 80%;
}



.third li {
    list-style: none;
    padding-bottom: 15px;
}


.third a {
    color: rgb(206, 206, 206);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    transition: 0.2s;
}


.third a:hover {
    color: #fff;
    transition: 0.2s;
    text-shadow: 1px 1px 20px rgba(0,0,0,1);
}


@media screen and (max-width:1000px) {
    .first {
        text-align: center;
    }

    .first h4::after {
        left: 40%;
    }
}

@media screen and (max-width:1000px) {
    .third {
        text-align: center;
    }

    .third h4::after {
        left: 40% !important;
    }
}

.margin {
    margin-left: 20px;
}

.line {
    height:2px;
    background-color:rgb(206,206,206);
    width:100%;
}

.container h1{
    text-align:center;
    margin-top:100px;
    margin-bottom:100px;
}





